main{
	margin: 0 auto;
	width: 1920px;
	height: 984px;
	background: url(../img/Rectangle7copy.png) no-repeat;

	.head{
		text-align: center;
		text-transform: uppercase;

		h6{
			font-family: "Poppins", sans-serif;
			font-weight: 600;
			font-size: 18px;
			line-height: 19px;
			margin: 0;
			padding-top: 65px;
			padding-bottom: 30px;
		}

		h1{
			font-family: "Poppins", sans-serif;
			font-weight: 800;
			font-size: 86px;
			line-height: 90px;
			margin: 0;
			margin-bottom: 90px;
		}
	}

	.slider .slick-prev, .slider .slick-next{
		z-index: 999;
	}

	.slider .slick-prev{
		left: 25px;
	}
	.slider .slick-next{
		right: 25px;
	}

	.slick-prev.slick-arrow:before,.slick-next.slick-arrow:before{
		color: #000;
	}

}
